@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);
@source './';

@theme {
  --spacing-size: 50px;
  --spacing-margin: 4px;
  --spacing-height: calc(var(--spacing-size) * 1.1547);
  --spacing-bottom: calc(var(--spacing-margin) - var(--spacing-size) * 0.2886);
  --text-small: calc(var(--spacing-size)*.2);
  --text-big: calc(var(--spacing-size)*.4);
  --text-zero: 0;
  --color-bg: oklch(0.7726 0.0895 90.2);
  --color-title: oklch(0.2752 0.1302 264);
  --color-cell: oklch(0.7711 0.065 267.11);
}

@utility hex {
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
